<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" type="text/CSS" href="css/style2.css" />
    <link rel="icon" href="/img/weather.png">
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="fcontainer" > 
      <div class="navigation">
        <h1 class="heading">{{title}}
        </h1>
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Contact Us</a>
      </div>
      <p class="about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea totam et perspiciatis consequatur asperiores. Fugit blanditiis eveniet dolorem? Quam, harum. Alias rerum atque voluptatum? Dicta earum in perspiciatis eveniet atque, vel esse quia officiis neque, nemo cum obcaecati corrupti maiores voluptatem omnis error ex. Esse nostrum repudiandae quisquam, aut corrupti culpa consequatur reiciendis adipisci, iusto unde nesciunt voluptates repellat ea id. Rerum modi est velit aliquam non dolor accusantium fugiat molestiae quo cupiditate voluptatibus, commodi magni distinctio dignissimos illum earum excepturi sunt similique. Dolor alias sequi ea, perferendis fuga consequuntur esse soluta laudantium error provident commodi nisi quaerat hic ad?</p>
      <h1 class="head">Our Creators</h1>
      <div class="creator">

        <div class="Vishal">
          
          <div class="center"><img src="/img/vishal.png"> <p>Vishal</p></div>
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est repudiandae alias dolorum similique suscipit aliquid voluptates provident iusto porro.</div>
        </div>
        <div class="Aaditya" >

          <div class="center"><img src="/img/Aaditya.png"> <p>Aaditya</p></div>
          <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, aliquid!</div>
        </div>
        <div class="Arjun">
          <div class="center"><img src="/img/Arjun.png"> <p>Arjun</p></div>
          <div >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit fuga consequatur omnis hic rerum sequi minus aut sapiente voluptate tenetur.</div>
        </div>
      </div>
    </div>
    
  </body>
</html>