<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" type="text/CSS" href="css/style2.css" />
    <link rel="icon" href="/img/weather.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="fcontainer">
      <div class="navigation">
        <h1 class="heading">{{title}}
        </h1>
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Contact Us</a>
      </div>
      <p class="about">
        A website that predicts the weather around you! Just enter the location
        where you are and you get the weather around you or any place you want!
        This website uses the APIs from
        <a
          href="https://www.mapbox.com/"
          class="beautify-link"
          target="_blank"
        >mapbox.com</a>🗺for accessing the coordinates of latitude and longitude
        and
        <a
          href="https://weatherstack.com/"
          class="beautify-link"
          target="_blank"
        >weatherstack.com</a>🌤for predicting the weather. We tried to keep the
        interface as basic as we can so that we can give the best user
        experience. It gives information about current temperature, humidity,
        wind speed, and overall weather around you! We hope you may have a good
        user experience with our application. 😊
      </p>
      <h1 class="head">Our Creators</h1>
      <div class="creator">

        <div class="Vishal">

          <div class="center"><img src="/img/vishal.png" /> <p>Vishal</p></div>
          <div><p>Being a full-stack developer, I developed the backend of the
              website with the help of Node.Js. I also worked on the front-end
              part of this website. We tried to keep the user experience as
              simple as we could. We also used features such as sass and
              handlebars in creating this website.</p>
            <p>Beyond this, my primary programming language is C++ and I am
              currently pursuing my B.Tech degree from
              <a
                href="https://www.thapar.edu/"
                class="beautify-link"
                target="_blank"
              >Thapar Institute of Engineering and technology.</a>😃</p>
          </div>
        </div>
        <div class="Aaditya">

          <div class="center"><img src="/img/Aaditya.png" />
            <p>Aaditya</p></div>
          <div><p>I worked on the front end part of this application giving some
              visual elements so that you can easily interact with our page.</p>
            <p>I am front-end developer and a c/c++ coder. Feel free to contact
              me anytime.😊
            </p>
          </div>
        </div>
        <div class="Arjun">
          <div class="center"><img src="/img/Arjun.png" /> <p>Arjun</p></div>
          <div><p>I designed this website for you. </p>
            <p>I am a creative person, a good designer and a coder. Currently a
              student at thapar university.
            </p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>