footer {
  display: flex;
  flex-direction: column;
  color: $color-tertiary;
  padding-bottom: 30px;
}

.output {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.day {
  width: 100%;
}

.city {
  width: 100%;
  text-align: right;
}

.icons {
  display: flex;
}

.icon-1 {
  width: 100%;
  text-align: center;
}

.icon-2 {
  width: 100%;
  text-align: center;
}

.icon-3 {
  width: 100%;
  text-align: center;
}

.icon-4 {
  width: 100%;
  text-align: center;
}

.icon-5 {
  width: 100%;
  text-align: center;
}

h2 {
  font-weight: lighter;
}
