header {
  flex-grow: 1;
  align-items: center;
  align-content: center;
  text-align: center;
  background-image: url("../../img/evening.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: $color-primary;
}

a {
  color: black;
  font-weight: 100;
  margin-right: 16px;
  text-decoration: none;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

.navigation {
  background-color: rgba(black, 0.1);
  padding: 30px;
}
