header {
  margin-top: 16px;
  margin-bottom: 48px;
  a {
    color: $color-secondary;
    margin-right: 16px;
    text-decoration: none;
  }
  h1 {
    font-size: 64px;
    margin-bottom: 16px;
  }
}
