<header>
  <div class="navigation">
    <h1 class="heading">{{title}}</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
  </div>
  <br />
  <form>
    <input placeholder="City" />
    <button>
      search
    </button>
  </form>
  <p id="message-1"></p>
  <p id="message-2"></p>
</header>