<header>
  <div class="navigation">
    <h1 class="heading">{{title}}</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Contact Us</a>
  </div>
  <br />
  <form>
    <input placeholder="Enter your location" />
    <button>
      Search
    </button>
  </form>
  <div class="display">
    <div class="temperature">
      <p id="message-1"></p>
      <p id="message-2"></p>
    </div>
    <div class="details">
      <p id="message-3"></p>
      <p id="message-4"></p>
      <p id="message-5"></p>
    </div>
  </div>

</header>