.heading {
  font-size: 3rem;
  margin-top: 0;
}

#message-1 {
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 200px;
  font-weight: lighter;
}

#message-2 {
  margin-top: 2px;
  font-size: 1.5rem;
  flex-grow: 1;
}

#message-3 {
  margin-top: 2px;
  font-size: 1.5rem;
}
#message-4 {
  margin-top: 2px;
  font-size: 1.5rem;
}
#message-5 {
  margin-top: 2px;
  font-size: 1.5rem;
}
