.display {
  display: flex;
  flex-direction: row;
  color: rgba(black, 0.8);
  background-color: rgba(white, 0.5);
  border-radius: 20px;
  margin: 20px;
  margin-top: 70px;
  .temperature {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }
  .details {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: flex-end;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.remover {
  opacity: 1;
}
