body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Ubuntu; }

html {
  height: 100%; }

.fcontainer {
  display: flex;
  height: 100%;
  flex-direction: column; }

*:focus {
  outline: none; }

.heading {
  font-size: 3rem;
  margin-top: 0; }

button {
  border: solid 1px white;
  border-radius: 5px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  margin: 20px; }
  button:hover {
    cursor: pointer;
    background: white; }

.search {
  width: 24px;
  background: transparent; }

.logo {
  width: 250px; }

input {
  border: none;
  font-size: 24px;
  text-align: center;
  background: transparent;
  margin-top: 50px; }
  input:active {
    border: none; }

header {
  flex-grow: 1;
  align-items: center;
  align-content: center;
  text-align: center;
  background-image: url("../../img/evening.jpg");
  background-repeat: no-repeat;
  background-size: 100%; }

a {
  color: black;
  font-weight: 100;
  margin-right: 16px;
  text-decoration: none;
  opacity: 0.6; }
  a:hover {
    opacity: 1; }

.navigation {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 30px; }

footer {
  display: flex;
  flex-direction: column; }

.output {
  display: flex;
  flex-direction: row;
  align-items: flex-end; }

.day {
  width: 100%; }

.city {
  width: 100%;
  text-align: right; }

.icons {
  display: flex; }

.icon-1 {
  width: 100%; }

.icon-2 {
  width: 100%; }

.icon-3 {
  width: 100%; }

.icon-4 {
  width: 100%; }

.icon-5 {
  width: 100%; }

h2 {
  font-weight: lighter; }
