button {
  border: solid 1px white;
  border-radius: 5px;
  font-size: 18px;
  background: rgba(white, 0.4);
  text-align: center;
  margin: 20px;
  &:hover {
    cursor: pointer;
    background: rgba(white, 1);
  }
}

.search {
  width: 24px;
  background: transparent;
}
